* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-block {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-block article {
  display: flex;
  width: 80vw;
  /* background-color: yellow; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h1 {
  font-size: 7vw;
}

form {
  /* background-color: red; */
}
form select {
  font-size: 2vw;
  padding: 1vw 2vw;
  width: 30vw;
}
